<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>
        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        p {
            text-align: center;
        }

        form {
            margin: 20px auto;
            width: 60%;
            text-align: center;
        }

        input[type="text"] {
            width: 80%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #4caf50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>URL Shortener</h1>
    <% if(locals.id) { %>
        <p>
            URL Generated : http://localhost:8000/url/<%= id %>
        </p>
    <% } %>
   <div>
    <form action="/url" method="POST">
        <label>Enter Your Original URL: </label>
        <input 
            type="text" 
            placeholder="https://example.com"
            name="url"
        >
    <button type="submit">Generate Short URL</button>
    </form>
   </div>
   <div>
    <% if(locals.urls) { %>
        <table>
            <thead>
                <th>S.No</th>
                <th>Short ID</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach( (url,index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= url.shortID %></td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
   </div>
</body>
</html>